# docker-compose
# build && docker-compose up -d
# If "docker-compose logs ckan" shows DB not ready, run "docker-compose restart ckan" a few times.
version: "3"

services:
  ckan:
    container_name: ckan
    image: ${REGISTRY_NAME}.azurecr.io/crea_ckan
    restart: always
    cap_add:
      - SYS_PTRACE
    expose:
      - "5000"
    # ports:
    #   - "0.0.0.0:${CKAN_PORT}:5000"
    environment:
      # Defaults work with linked containers, change to use own Postgres, SolR, Redis or Datapusher
      - CKAN_SQLALCHEMY_URL=postgresql://${CKAN_PG_USER}:${POSTGRES_PASSWORD}@${PG_HOST_FULL}/ckan
      - CKAN_DATASTORE_WRITE_URL="postgresql://${CKAN_PG_USER}:${POSTGRES_PASSWORD}@${PG_HOST_FULL}/datastore"
      - CKAN_DATASTORE_READ_URL=postgresql://${DATASTORE_RO_PG_USER}:${DATASTORE_READONLY_PASSWORD}@${PG_HOST_FULL}/datastore
      - CKAN_SOLR_URL=http://${SOLR_HOST_FULL}:8983/solr/ckan
      - CKAN_REDIS_URL=redis://default:${REDIS_AUTHKEY}@${REDIS_HOST_FULL}:6379/1
      - CKAN_DATAPUSHER_URL=http://datapusher:8800
      - CKAN_SITE_URL=${CKAN_SITE_URL}
      - CKAN_MAX_UPLOAD_SIZE_MB=${CKAN_MAX_UPLOAD_SIZE_MB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - DS_RO_PASS=${DATASTORE_READONLY_PASSWORD}
    volumes:
      - ${CKAN_SHARE_MOUNT}:/var/lib/ckan
  ckan_solr:
    image: ${REGISTRY_NAME}.azurecr.io/crea_ckan_solr
    container_name: ckan_solr      
    restart: always
    expose:
      - "8983"
    volumes:
      - ${SOLR_SHARE_MOUNT}:/opt/solr/server/solr/ckan/data  
  proxy:
    image: ghcr.io/linuxserver/swag
    container_name: proxy
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - URL=${CKAN_VM_NAME}.${VM_DOMAIN}
      - SUBDOMAINS=
      - VALIDATION=http
      - EMAIL=admin@${CKAN_VM_NAME}.${VM_DOMAIN} #optional
      - ONLY_SUBDOMAINS=false #optional
      - EXTRA_DOMAINS= #optional
      - STAGING=false #optional
    volumes:
      - ./site-confs/default:/config/nginx/site-confs/default
    ports:
      - "443:443"
      - "80:80" #optional
    restart: unless-stopped
